@use '../../configs/definitions' as *;

$tablet: 768px;
$mobile: 480px;

.SignUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 10rem auto;

    @media (max-width: $tablet) {
        h1 {
            font-size: 4rem;
        }
    }

    @media (max-width: $mobile) {
        h1 {
            font-size: 2rem;
        }
    }

    .SignUpTitle {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin: 2rem 0;
      }

    .SignUpTitle span {
        background: linear-gradient(to right, #3ffc65, #b0dfe5, #2177f7);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .SignUpDescription {
        width: 50%;
        line-height: 1.4;
        letter-spacing: -0.02em;
        font-size: 1.25rem;
        font-weight: 500;
        color: white;
        text-align: center;



        @media (max-width: $tablet) {
            font-size: 1.5rem;
            width: 100%;
        }

        @media (max-width: $mobile) {
            font-size: 1.2rem;
            width: 100%;
        }
    }

    .SignUpButton {
        margin-top: 2rem;
    }

    .JoinButton {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 12px 24px;
        border-radius: 8px;
        border: none;
        font-family: Poppins;
        font-weight: 600;
        font-size: 17px;
        color: #fff;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        background: linear-gradient(103.25deg, rgb(87, 156, 213), rgb(39, 92, 179)), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

        &:hover:not(:disabled) {
            background-color: rgba(var(--primary-dark), 1);
            transition: all 0.2s ease-in-out;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    .ErrorMessage {
        color: rgb(var(--error));
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    .LogoContainer {
        width: 160px;
        height: 132px;
    }
}