# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules
*.env
*.crt
*.key
/.pnp
.pnp.js

# testing
/coverage

# production
logs/
build/

# misc
node_modules/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env*
