.UpcomingEventCard {
    .EventTitle{
        font-size: 30px;
        font-weight: 600;
    }
    .EventDate{
        font-size: 18px;
        font-weight:500;
        span {
            padding: 0 0.8rem;
            font-weight: 800;
        }
    }
    .EventLocation {
        font-size: 18px;
        font-weight: 500;
        margin-top: 0.2rem;
    }
    .EventDescription {
        font-size: 16px;
        font-weight: 500;
        margin-top: 1rem;
    }
}