@use '../../configs/definitions' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$tablet: 768px;
$mobile: 480px;

.Label {
    background: -webkit-linear-gradient(#3efc63, #3ffecd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;

    @media (max-width: $tablet) {
        font-size: 1.5rem;
    }

    @media (max-width: $mobile) {
        font-size: 1rem;
    }
}

.HeroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: $tablet) {
        h1 {
            font-size: 4rem;
        }
    }

    @media (max-width: $mobile) {
        h1 {
            font-size: 2rem;
        }
    }
}

.HeroTitle {
    text-align: center;
    width: 60%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;

    @media (max-width: $tablet) {
        font-size: 3rem;
        width: 100%;
    }

    @media (max-width: $mobile) {
        font-size: 2rem;
        width: 100%;
    }
}

.Statistical {
    background: -webkit-linear-gradient(#3deed9, #40b3f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HeroDescription {
    width: 50%;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 1.75rem;


    @media (max-width: $tablet) {
        font-size: 1.5rem;
        width: 100%;
    }

    @media (max-width: $mobile) {
        font-size: 1.2rem;
        width: 100%;
    }
}

.Highlight {
    font-weight: 700;
}

.EmailRegister {
    display: flex;
    margin-top: 2rem; 

    @media (max-width: $mobile) {
        gap: 1rem;
        flex-direction: column;
    }

    @media (max-width: $tablet) {
        gap: 0.5rem
    }
}

.EmailInput {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 2px solid rgb(31,31,31); 
    background-color: rgb(26,26,26);
    color: white;

    &::placeholder {
        font-weight: 600;
        color: rgba(72,72,72,255);
    }
}

.RegisterButton {
    border-radius: 10px;
    padding: 0.75rem 1.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    background-image: linear-gradient(to top right, rgba(255, 65, 161, 1), rgba(255, 86, 37, 1));
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    
    &:hover {
        background-color: darken(rgba(255, 65, 161, 1), 10%);
    }
}

@media (max-width: $mobile) {
    .EmailRegister {
        flex-direction: column;
    }

    .RegisterButton {
        display: block;
        width: 100%;
    }
}
