.ErrorPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;

  @media screen and (max-width: 1024px) {
    padding-top: 2.5rem;
  }

  img {
    width: 25vw;
    animation: pulse 5s ease-in-out infinite;

    @keyframes pulse {
      0% { scale: 1; }
      50% { scale: 1.05; }
      100% { scale: 1; }
    }
  }

  .TextBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Oops {
      margin: 1.5rem 0;
      font-size: 5rem;
      font-weight: bold;
      text-align: center;
    }

    .Error {
      text-align: center;
      margin-bottom: 2rem;
    }

    .Search {
      text-align: center;
      margin: 1rem 0;
    }
  }

  p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
  }

  span {
    font-family: 'Consolas';
    color: #a761dd;
  }

  a {
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: rgb(var(--primary));
      transition: all 0.2s ease-in-out;
    }
  }
}
