.Card {
    background-color: #101010;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    

    .FlexContainer {
        display: flex;
        justify-content: inline;
        align-items: center;
        width: 1343px;
        height: 400px;
    }

    .TextContainer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 550px;
        padding-right: 20px;
    }

    .ImageContainer {
        width: 550px; 
        height: 100%;
       
        /* add temp border for image placeholder*/
        border: 2px solid white;
        box-sizing: border-box;
        margin-left: 50px;
     
    }

    .TitleLineContainer {
        display: flex;
        align-items: center;
    }

    
    .CardTitle {
        font-size: 1.04rem;
        font-weight: 600;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        

    }

    .CardLine {
        flex-grow: 1;
        height: 1px;
        background: linear-gradient(to left, transparent, #FFFFFF);
        margin-left: 20px;
    }

    .CardTitle2 {
        font-size: 2.4rem;
        font-weight: 600;
        
    }
    
    .GradientText {
        background: linear-gradient(to right, #24FF00, #00E0FF, #24FF00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }

    .CardBody {
        margin-top: 2em;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        & > div + div {
            margin-top: 1em; 
        }
    }

}

