.ScrollToTop {
  position: fixed;
  bottom: 2.5vh;
  right: 2vw;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
  z-index: 100;

  &:hover {
    color: rgb(var(--primary-light));
    scale: 1.1;
  }
}

.ScrollToTopHidden {
  @extend .ScrollToTop;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
