

.Card {   
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    background-color: #121212;
    border-radius: 1rem;
    overflow: hidden;

    position: relative;

    
    .CardTitle {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 600;
        margin-bottom: 2rem;
        padding-right: 20%;
      }
      
    .CardImage {
          width: 100%;
          height: 50%;
      }

    .CardContent {
        padding: 1rem;
        background-color: #121212;
        transform: translate(0%,-15%);
        clip-path: polygon(0 0, 60% 0%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
        border-radius: 11px;
    }

    .CardDesc{
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .ProjectButton:link, .ProjectButton:visited {
        position: absolute;
        top: 90%;
        right: 5%;

        display: inline-flex;
        justify-content: space-between;    
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0;
    

    }

    .ProjectButton:hover, .ProjectButton:active {
      color: #fff;
    }

    .ProjectButtonIcon {
      font-size: 1.5rem;
    }

    .ProjectIcon {
      background-color:#121212;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2.4rem 4.8rem rgba(255, 255, 255, 0.075);;

      font-size: 1.8rem;

      position: absolute;
      top: 42%;
      right: 3%;
    }


    @media (min-width: 640px) {

      .CardTitle{
        font-size: 2rem;
        padding-right: 20%;
      }

      .CardContent{
        padding: 2rem;
      }

      .CardDesc{
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .ProjectButton:link, .ProjectButton:visited {
        font-size: 1rem;
    }

    .ProjectButtonIcon {
      font-size: 1.5rem;
    }
    
    .ProjectIcon{
      font-size: 2rem;
    }


    }

    @media (min-width: 720px) {
      .CardTitle{
        font-size: 1.8rem;
        padding-right: 20%rem;
      }

      .CardContent{
        padding: 2rem 2rem;
      }

      .ProjectIcon{
        font-size: 2rem;
      }
  
    }

    @media (min-width: 1024px) {
     
      .CardTitle {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
        

      .CardContent {
          padding: 1.5rem 2rem 2rem 2rem;
      }


      .ProjectButton:link, .ProjectButton:visited {
          gap: 0.5rem;
          font-size: 1.1rem;
          margin: 1rem 0;
      }


      .ProjectButtonIcon {
        font-size: 2rem;
      }

      .ProjectIcon {
        font-size: 2rem;
      }
    }

    @media (min-width: 1280px) {
      .CardTitle {
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }
      

      .CardDesc{
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      
      .ProjectIcon {
        font-size: 2.5rem;
      }
    }


  }
  
  
  .CardContainer {
    max-width: 120rem;
    padding: 1rem;
    margin: 0 auto;
    
    display: grid;
    column-gap: 3rem;
    row-gap: 9.6rem;
    
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 640px) {
      padding: 1rem 1rem;

      column-gap: 3.2rem;
      row-gap: 4.8rem;
      
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 720px) {
      padding: 2rem 0rem;

      column-gap: 4.8rem;
      row-gap: 6.4rem;

      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      padding: 3.2rem 3.2rem;

      column-gap: 6.4rem;
      row-gap: 9.6rem;
      
    }

    @media (min-width: 1280px) {
      
    }
  }
  
  .ClubIntroSection{
    background-color: #000;
    padding: 2rem;
    margin-top: 10rem;
    
    .ClubIntroTitle {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin: 2rem 0;
    }
    
    .ClubIntroTitle span {
      color: transparent;
      background: linear-gradient(to right, #3ffc65, #b0dfe5, #2177f7);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      
    }
    
    .Divider {
     width: 100%;
     height: 1px; 
     background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%, rgba(0,0,0,1) 100%);
     margin-bottom: 3rem;
     display: flex; 
     align-items: center; 
     justify-content: center; 
   }

   .Divider span {
    font-size: 1.04rem;
    font-weight: 600;
   }

   @media (min-width: 0) {
      margin-top: 2rem;
   }


   @media (min-width: 640px) {

    .ClubIntroTitle {
      font-size: 2rem;
      margin: 2rem 0 3rem 0;
    }

    .ClubIntroTitle span {
      padding: 0%;
    }

    .Divider {
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 25%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(255,255,255,1) 75%, rgba(0,0,0,1) 100%);
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 720px) {


    .ClubIntroTitle {
      font-size: 2rem;
      margin: 3rem 0;
      padding: 0 4rem;
    }


    .Divider {
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 65%, rgba(0,0,0,1) 100%);
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 1024px) {

    
    .ClubIntroTitle {
      font-size: 2.5rem;
      padding: 0 9rem;
    }
    
    
    .Divider {
     background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 38%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 62%, rgba(255,255,255,1) 62%, rgba(0,0,0,1) 100%);
     margin-bottom: 3rem;
   
   }

  }

  @media (min-width: 1280px) {
    
    .Divider {
     background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 100%);
   }

   
  }
}