.GreenButton {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  // background: linear-gradient(103.25deg, #00FF47 -16.57%, #04AA8C 116.88%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background: linear-gradient(103.25deg, rgb(87, 156, 213), rgb(39,92,179)), linear-gradient(0deg, rgb(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));


  &:hover {
    color: #fff;
    background-color: rgba(var(--primary-dark), 1);
    transition: all 0.2s ease-in-out;
  }
}