@use '../../configs/definitions' as *;

.ContentStrip {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 4vw;
  min-width: 80vw;

  @extend .LightBlock;

  img {
    width: 40vw;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 1280px) {
    min-width: 90vw;
  }
}

.FlexRow {
  flex-direction: row;
}

.FlexColumn {
  flex-direction: column;
}

.ContentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
