@use '../../configs/definitions' as *;

.ContentStrip {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 4vw;
  min-width: 80vw;

  @extend .LightBlock;

  img {
    width: 40vw;
    height: auto;
    object-fit: cover;
  }
}

.FlexRow {
  flex-direction: row;
}

.FlexColumn {
  flex-direction: column;
}

.ContentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-weight: 400;
    margin: 0.5rem 0;
  }
}
