.SearchBar {
  display: flex;

  .SearchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
      padding: 0.5rem 0.2rem;
      width: 13rem;
      background-color: transparent;
      border-bottom: 2px solid rgba(#fff, 0.6);
      color: #fff;
      transition: all 0.3s ease-in-out;

      &:focus {
        outline: none;
        width: 15.5rem;
        border-bottom: 2px solid rgba(#fff, 1);
        transition: all 0.3s ease-in-out;
      }
    }

    button {
      margin-left: 0.5rem;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: rgba(#fff, 1);
        transition: all 0.25s ease-in-out;

        &:hover {
          fill: rgba(var(--primary), 1);
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}
