@use '../../configs/_definitions.scss' as *;

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.NavBar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 1.5rem;
  transition: all 0.25s ease-in-out;

  * {
    font-family: 'Roboto Mono', sans-serif;
  }
}

.NavBarScrolled {
  @extend .NavBar;
  @extend .DarkBackground;

  padding: 1rem 0;
  transition: all 0.25s ease-in-out;
}

.NavMenuOpen {
  @extend .NavBar;
  @extend .DarkBackground;

  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  transition: all 0.25s ease-in-out;

  @media screen and (max-width: 767px) {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
  }
}

.NavBarHidden {
  transform: translateY(-100%);
  opacity: 0;
}

.Container {
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 3rem;
  justify-content: space-between;
  width: 100%;

  .NavButtons {
    display: flex;
    align-items: center;
    gap: 3.5rem;

    @media screen and (min-width: 1920px) {
      gap: 4rem;
    }
  }
}

.HomeButton {
  width: 5rem;
  height: 5rem;
  margin-right: 3rem;
  transition: all 0.25s ease-in-out;

  &:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 10px rgba(#fff, 0.2));
    transition: all 0.25s ease-in-out;
  }

  @media screen and (max-width: 1080px) {
    width: 4rem;
    height: 4rem;
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    width: 3rem;
    height: 3rem;
    margin-right: 0;
  }
}

.NavButtonContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(256, 256, 256, 0.2);
  border-radius: 12px;
  margin: 8px;
  gap: 64px;
  padding: 16px 32px;
}

.NavButton {
  display: flex;
  align-items: center;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-family: Poppins;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  z-index: 999;

  &:hover {
    color: inherit;
    transition: all 0.2s ease-in-out;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    font-family: inherit;
  }
}

.NavLinkTippyUp {
  display: var(--no-hovered);
}

.NavLinkTippyDown {
  display: var(--hovered);
}

.NavButtonCurrentLocation {
  @extend .NavButton;
  color: rgb(var(--primary-light));
}

.NavButtonRegister {
  @extend .NavButton;
  font-weight: bold;
}

.CenterDropdownText {
  padding-left: 6px;
}

.Button {
  display: flex;
  justify-content: center;
  position: relative;
  --hovered: none;
  --no-hovered: flex;
  color: white;

  .DropDownMenu {
    position: fixed;
    display: flex;
    align-items: center;
    overflow-y: hidden;
  }

  &:hover {
    --hovered: flex;
    --no-hovered: none;
    color: #00FF47;

    .DropDownMenu {
      padding-top: 40px;
    }

    .DropDownContent {
      max-height: 100vh;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      transition: padding-top 25ms linear, max-height 0.5s linear, padding-bottom 25ms linear;
      border: 1px solid rgba(256, 256, 256, 0.2);
    }
  }


}

.ButtonActive {
  @extend .Button;

  :before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -16px;
    height: 1px;
    width: calc(100% + 20px);
    border-bottom: 3px solid #00FF47;
    pointer-events: none;
  }
}

.DropDownContent {
  max-height: 0;
  display: flex;
  z-index: 100;
  flex-direction: column;
  gap: 0.75rem;
  border-top: none;
  background-color: rgba(var(--bg-black), 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 0.5rem;

  a {
    color: white;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: #00FF47;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                MOBILE NAVBAR                               */
/* -------------------------------------------------------------------------- */
.MobileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;

  .HamburgerMenuButton {
    width: 2rem;
    height: 2.5rem;
    transition: all 0.25s ease-in-out;

    div {
      margin: 0.4rem 0;
      width: 100%;
      height: 0.2rem;
      background-color: #fff;
      border-radius: 10px;
      transition: all 0.25s ease-in-out;
    }
  }

  .HamburgerMenuButtonClosed {
    @extend .HamburgerMenuButton;

    div {
      margin: 0;

      &:nth-child(1) {
        transform: rotate(45deg) translate(0.1rem, 0.2rem);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.1rem, -0.2rem);
      }
    }
  }
}

.HamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 2rem;
  right: 0;
  top: 4rem;
  padding: 2rem 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  input {
    width: 18rem !important;
    margin-left: 2rem;
  }

  @extend .DarkBackground;
}

.HamburgerMenuClosed {
  @extend .HamburgerMenu;
  transform: translateX(100%);
  opacity: 0;
}

.NavButtonsMenu {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  gap: 2rem;
  font-size: larger;
  overflow-y: auto;

  p {
    min-width: 10rem;
  }
}