.DarkBackground {
  background-color: rgba(var(--bg-dark), 0.75);
  box-shadow: 0 0 10px rgba(var(--bg-dark), 0.1);
  backdrop-filter: blur(10px);
}

.LightBlock {
  border-radius: 15px;
  background-color: rgba(var(--bg-mid), 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-in-out;

  &:hover {
    backdrop-filter: blur(10px);
    transition: all 0.25s ease-in-out;
  }
}
